body {
  background: #46dff3;
}

.container {
  max-width: 400px;
}

input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background: #9b791d;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}